@page "/"

@inject NavigationManager Navigation
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje

<div class="p-4">
    <h1 class="mb-4">Plataforma OPLAGEST-Trifinio</h1>

    <Alertas />
    <ConteoTramites Tramites="Tramites" />
    <ResumenVisitas Visitas="Visitas" />
    <ResumenUsuarios Usuarios="Usuarios" />

</div>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState>? Aauthentication { get; set; }

    private List<TramiteListaDTO>? Tramites { get; set; }
    private List<UsuarioListaDTO>? Usuarios { get; set; }
    private List<VisitaDTO>? Visitas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var estadoAutenticacion = await Aauthentication;
        var usuario = estadoAutenticacion.User;

        if (!usuario.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("ingresar");
        }

        Tramites = new();
        Usuarios = new();
        Visitas = new();
    }
}
