@page "/"
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="px-4 py-4">
            <h3 class="display-6">Tablero</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var estadoAutenticacion = await authenticationState;
        var usuario = estadoAutenticacion.User;

        if (!usuario.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("ingresar");
        }
    }
}
