@page "/"
@inject NavigationManager Navigation

<div class="p-4">
    <PageTitle>Tablero :: OPLAGEST-Trifinio</PageTitle>
    <h1>Tablero</h1>
</div>

@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var estadoAutenticacion = await authenticationState;
        var usuario = estadoAutenticacion.User;

        if (!usuario.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("ingresar");
        }
    }
}
