@page "/visitas"
@using RegistroTramitesOplagestTrifinio.Client.Shared.Visitas
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensajes

<div class="p-4">
    @if (Visitas.Count == 0 || Visitas == null)
    {
        <div class="d-flex align-items-center">
            <img src="images/progress.gif" width="50" />
            <p class="m-0">No hay visitas disponibles</p>
        </div>
    }
    else
    {
        <h1 class="mb-3">Lista de visitas t&eacute;cnicas</h1>

        <ListaVisitas Visitas="Visitas" />
    }
</div>

@code 
{
    private List<VisitaDTO>? Visitas { get; set; } = new();
    private int _correlativo = 0;

    protected override async Task OnInitializedAsync()
    {
        await CargarListado();
    }

    private async Task CargarListado()
    {
        try
        {
            var peticion = await Http.Get<List<VisitaDTO>>("api/visitas");

            Visitas = peticion.Respuesta;
        }
        catch (Exception ex)
        {
            await Mensajes.Error($"No fue posible obtener la lista de visitas: {ex.Message}");
        }
    }
}
