@page "/tramites/crear"
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject NavigationManager Navigation

<div class="p-4">
    <PageTitle>Iniciar tr&aacute;mite :: OPLAGEST-Trifinio</PageTitle>
    <h1 class="mb-4">Iniciar tr&aacute;mite</h1>
    <div class="form-group mb-4">
        <label for="instructivos" class="form-label">Nombre del instructivo</label>
        <InputSelect TValue="int?" ValueChanged="@(async (int? value) => { Tramite.Instructivo.InstructivoId = value; await ObtenerRequisitos(value); })" ValueExpression="@(() => Tramite.Instructivo.InstructivoId)" Value="Tramite.Instructivo.InstructivoId" id="instructivos" class="form-select">
            @if (Instructivos == null)
            {
                <option value="null">Cargando...</option>
            }
            else if (Instructivos.Count == 0)
            {
                <option value="null">No hay instructivos para mostrar</option>
            }
            else
            {
                <option value="0">-- Seleccionar --</option>

                @foreach (var instructivo in Instructivos)
                {
                    <option value="@instructivo.InstructivoId">@instructivo.Nombre</option>
                }
            }
        </InputSelect>
    </div>

    <FormularioTramite Tramite="Tramite" OnValidSubmit="Crear">
        <BotonesOpcines>
            <BSButton IsSubmit="true" Class="btn btn-outline-primary">Iniciar</BSButton>
        </BotonesOpcines>
    </FormularioTramite>

    <RequisitosCheckBoxes Requisitos="Tramite.TramitesRequisitos" @key="Tramite.Instructivo.InstructivoId" />
</div>

@code
{
    public FormularioTramiteDTO Tramite { get; set; } = new();
    private List<InstructivoDTO>? Instructivos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var peticion = await Http.Get<List<InstructivoDTO>>("api/instructivos");

            if (peticion.Error)
            {
                await Mensaje.Error("No fue posible obtener la lista de instructivos");
            }
            else
            {
                Instructivos = peticion.Respuesta;
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrió un error inesperado");
        }
    }

    private async Task ObtenerRequisitos(int? instructivoId)
    {
        try
        {
            var peticion = await Http.Get<List<RequisitoDTO>>($"api/instructivos/requisitos/{instructivoId}");

            if (peticion.Error)
            {
                await Mensaje.Error("No fue posible obtener el listado de requisitos");
            }
            else
            {
                Tramite.TramitesRequisitos = peticion.Respuesta.Select(x => new TramiteRequisitoDTO
                    {
                        Entregado = false,
                        Nombre = x.Nombre,
                        RequistoId = x.RequesitoId,
                        Categoria = x.Categoria,
                        
                    }).ToList();
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrió un error inesperado");
        }
    }

    public async Task Crear()
    {
        try
        {
            var respuesta = await Http.Post<FormularioTramiteDTO>("api/tramites", Tramite);

            if (respuesta.Error)
            {
                await Mensaje.Error("No fue posible crear el trámite");
            }
            else
            {
                await Mensaje.Completado("El trámite fue creado con éxito");
                Navigation.NavigateTo("tramites/nuevos");
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrió un error inesperado");
        }
    }
}