@page "/tramites/nuevos/revisar/{TramiteId:int}"
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "Administrador")]

<div class="p-4">
    <h1 class="mb-4">Revisi&oacute;n de tr&aacute;mite en recepci&oacute;n</h1>

    <div class="mb-4">
        <BSButton Target="AgendarModal" Color="BSColor.Primary">Agendar visita t&eacute;cnica</BSButton>
        <a href="/tramites/editar/@TramiteId" class="btn btn-secondary">Editar</a>
        <BSButton Target="DevolverModal" Color="BSColor.Danger">Devolver</BSButton>
    </div>

    <VerTramite Tramite="Tramite" @key="Tramite.TramiteId" />

    <BSModal IsCentered="true" DataId="AgendarModal">
        <AgendarCita Visita="Visita" OnValidSubmit="Agendar" />
    </BSModal>

    <BSModal IsCentered="true" DataId="DevolverModal">
        <DevolverTramite Devolucion="Devolucion" OnValidSubmit="Devolver" />
    </BSModal>
</div>

@code 
{
    [Parameter] 
    public int? TramiteId { get; set; }

    public TramiteDTO Tramite { get; set; } = new();
    public DevolucionDTO Devolucion { get; set; } = new();

    private VisitaDTO Visita { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var peticion = await Http.Get<TramiteDTO>($"api/tramites/{TramiteId}");

        if (peticion.Error)
        {
            await Mensaje.Error(await peticion.ObtenerMensaje());
        }
        else
        {
            Tramite = peticion.Respuesta;
        }
    }

    private async Task Agendar()
    {
        Visita.TramiteId = Tramite.TramiteId;
        Visita.Estado = "Sin realizar";

        var peticion = await Http.Post<VisitaDTO>($"api/tramites/agendar", Visita);

        if (peticion.Error)
        {
            await Mensaje.Error(await peticion.ObtenerMensaje());
        }
        else
        {
            await Mensaje.Completado("Visita técnica agendada con éxito");
            Navigation.NavigateTo("tramites/para-visitar");
        }
    }

    private async Task Devolver()
    {
        Devolucion.TramiteId = Tramite.TramiteId;

        var peticion = await Http.Post<DevolucionDTO>($"api/tramites/devolver", Devolucion);

        if (peticion.Error)
        {
            await Mensaje.Error(await peticion.ObtenerMensaje());
        }
        else
        {
            await Mensaje.Completado("El trámite fue devuelto con éxito");
            Navigation.NavigateTo("tramites/devueltos");
        }
    }
}