@page "/tramites/archivados/revisar/{TramiteId:int}"

@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject NavigationManager Navigation
@inject IGeneraRegistroActividad Registro

@*@attribute [Authorize(Roles = "Administrador, Técnico")]*@

<div class="p-4">
    <h1 class="mb-4">Revisi&oacute;n de tr&aacute;mite archivado</h1>
    @if (Tramite == null)
    {
        <div class="d-flex align-items-center">
            <img src="images/progress.gif" width="35" />
            <p class="m-0">Cargando datos del tr&aacute;mite, por favor espere...</p>
        </div>
    }
    else if (Tramite.TramiteId != 0)
    {
        <div class="d-flex align-items-center">
            <img src="images/progress.gif" width="35" />
            <p class="m-0">No hay datos disponibles para el tr&aacute;mite</p>
        </div>
    }
    else
    {
        <AuthorizeView>
            <BSButtonGroup Class="mb-4">
                @if (!context.User.IsInRole("Administrador"))
                {
                    <BSButton OnClick="Desarchivar" Color="BSColor.Primary" IsOutlined="true">Desarchivar tr&aacute;mite</BSButton>
                }
                <BSButton Target="AdministrarArchivos" Color="BSColor.Primary" IsOutlined="true">Administrar archivos</BSButton>
            </BSButtonGroup>
        </AuthorizeView>

        <VerTramite Tramite="Tramite" @key="Tramite.TramiteId" />

        <BSModal Size="Size.ExtraLarge" IsCentered="true" HideOnValidSubmit="true" DataId="AdministrarArchivos">
            <BSModalHeader>Administrar archivos del trámite</BSModalHeader>
            <BSModalContent>
                <AdministrarArchivos Expediente="@Tramite.Expediente" />
            </BSModalContent>
            <BSModalFooter>
                <p><i>*El tamaño máximo de cada archivo es de 15 MB.</i></p>
            </BSModalFooter>
        </BSModal>
    }    
</div>

@code
{
    [Parameter]
    public int? TramiteId { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState>? Authentication { get; set; }

    private TramiteDTO Tramite { get; set; } = new();
    private string _responsableEmail = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Tramite = new()
            {
                ArchivadoDesde = string.Empty,
                CorreoElectronico = string.Empty,
                Encargado = "Encargado",
                EncargadoTelefono = string.Empty,
                Expediente = "EXP-DEMO-1",
                FechaEgreso = DateTime.UtcNow.ToShortDateString(),
                FechaIngreso = DateTime.UtcNow.ToShortDateString(),
                InmuebleDireccion = "Santa Ana",
                Instructivo = "Instructivo DEMO 1",
                MontoPagado = "42.2",
                Propietario = "Propietario",
                PropietarioDireccion = "Santa Ana",
                PropietarioTelefono = string.Empty,
                Proyecto = "Proyecto DEMO 1",
                Receptor = "Receptor",
                TramiteId = 0,
                Visitas = new List<VisitaDTO>()
                    {
                        new VisitaDTO()
                        {
                    Comentarios = string.Empty,
                    Encargado = "Encargado",
                    Estado = "Activa",
                    Fecha = DateOnly.FromDateTime(DateTime.UtcNow),
                    Hora = TimeOnly.FromDateTime(DateTime.UtcNow),
                    TramiteExpediente = string.Empty,
                    TramiteId = 0,
                    VisitaId = 0

                        }
                 }
            };
    }

    private async Task Desarchivar()
    {
        try
        {
            var desarchivar = new ArchivarDTO();
            desarchivar.TramiteId = TramiteId;
            desarchivar.Estado = Tramite.ArchivadoDesde switch
            {
                "Para visitar" => "Agendado",
                "Devueltos" => "Devuelto",
                "Para entregar" => "Entregado",
                "Finalizados" => "Finalizado",
                "Para firmar" => "Firmar",
                "Nuevos" => "Nuevo",
                "Visitados" => "Visitado",
                _ => "Archivado"
            };
            desarchivar.ArchivadoDesde = string.Empty;

            if (await Mensaje.Confirmar($"Desarchivar trámite"))
            {
                await Mensaje.Completado("El trámite fue desarchivado con éxito");
                Navigation.NavigateTo(Tramite.ArchivadoDesde switch
                {
                    "Para visitar" => "tramites/para-visitar",
                    "Devueltos" => "tramites/devueltos",
                    "Para entregar" => "tramites/para-entregar",
                    "Finalizados" => "tramites/finalizados",
                    "Para firmar" => "tramites/para-firmar",
                    "Nuevos" => "tramites/en-recepcion",
                    "Visitados" => "tramites/visita-completada",
                    _ => "tramites/archivados"
                });
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }
}
