@page "/tramites/devueltos/revisar/{TramiteId:int}"

@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject NavigationManager Navigation
@inject IGeneraRegistroActividad Registro

@attribute [Authorize]

<div class="p-4">
    <h1 class="mb-4">Revisi&oacute;n de tr&aacute;mite devuelto</h1>

    @if (Tramite == null)
    {
        <div class="d-flex align-items-center">
            <img src="images/progress.gif" width="35" />
            <p class="m-0">Cargando datos del tr&aacute;mite...</p>
        </div>
    }
    else if (Tramite.TramiteId == 0)
    {
        <div class="d-flex align-items-center">
            <img src="images/progress.gif" width="35" />
            <p class="m-0">No hay datos disponibles para mostrar</p>
        </div>
    }
    else
    {
        <AuthorizeView>
            <BSButtonGroup class="mb-4">
                @if (context.User.IsInRole("Administrador"))
                {
                    <BSButton OnClick="ContinuarProceso" Color="BSColor.Primary" IsOutlined="true">Continuar proceso</BSButton>
                    <a href="/tramites/editar/@TramiteId?Redireccion=/tramites/devueltos/revisar/@TramiteId" class="btn btn-outline-primary">Editar</a>
                    <BSButton Target="AdministrarArchivos" Color="BSColor.Primary" IsOutlined="true">Administrar archivos</BSButton>
                    <BSButton OnClick="Archivar" Color="BSColor.Danger" IsOutlined="true">Archivar tr&aacute;mite</BSButton>
                }
                else if (context.User.IsInRole("Técnico"))
                {
                    <BSButton OnClick="ContinuarProceso" Color="BSColor.Primary" IsOutlined="true">Continuar proceso</BSButton>
                    <a href="/tramites/editar/@TramiteId?Redireccion=/tramites/devueltos/revisar/@TramiteId" class="btn btn-outline-primary">Editar</a>
                    <BSButton Target="AdministrarArchivos" Color="BSColor.Primary" IsOutlined="true">Administrar archivos</BSButton>
                }
                else if (context.User.IsInRole("Receptor"))
                {
                    <BSButton OnClick="NotificarCorrecciones" Color="BSColor.Primary" IsOutlined="true">Notificar correcciones</BSButton>
                    <a href="/tramites/editar/@TramiteId?Redireccion=/tramites/devueltos/revisar/@TramiteId" class="btn btn-outline-primary">Editar</a>
                    <BSButton Target="AdministrarArchivos" Color="BSColor.Primary" IsOutlined="true">Administrar archivos</BSButton>
                }
            </BSButtonGroup>
        </AuthorizeView>

        <VerTramite Tramite="Tramite">
            <Informacion>
                <h4>Datos de la devoluci&oacute;n</h4>
                <ListaDevoluciones Devoluciones="Devoluciones" />
            </Informacion>
        </VerTramite>

        <BSModal Size="Size.ExtraLarge" IsCentered="true" HideOnValidSubmit="true" DataId="AdministrarArchivos">
            <BSModalHeader>Administrar archivos del trámite</BSModalHeader>
            <BSModalContent>
                <AdministrarArchivos Expediente="@Tramite.Expediente" />
            </BSModalContent>
            <BSModalFooter>
                <p><i>*El tamaño máximo de cada archivo es de 15 MB.</i></p>
            </BSModalFooter>
        </BSModal>
    }
</div>

@code
{
    [Parameter]
    public int? TramiteId { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState>? Authentication { get; set; }

    private List<DevolucionDTO> Devoluciones { get; set; } = new();
    private TramiteDTO? Tramite { get; set; }
    private DevolucionDTO? Devolucion { get; set; }
    private string _responsableEmail = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var peticion = await Http.Get<TramiteDTO>($"api/tramites/editar/{TramiteId}");

            if (peticion.Error)
            {
                await Mensaje.Error("No fue posible obtener los datos del trámite");
            }
            else
            {
                var autenticacion = await Authentication;
                var usuario = autenticacion.User;

                _responsableEmail = usuario.FindFirst(ClaimTypes.Email).Value;
                Tramite = peticion.Respuesta;
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await ObtenerDevoluciones(TramiteId.Value);
    }

    private async Task Archivar()
    {
        try
        {
            var archivar = new ArchivarDTO();

            archivar.TramiteId = TramiteId;
            archivar.ArchivadoDesde = "Devueltos";
            archivar.Estado = "Archivado";

            if (await Mensaje.Confirmar($"Archivar trámite"))
            {
                var respuesta = await Http.Post<ArchivarDTO>("api/tramites/archivar", archivar);

                if (respuesta.Error)
                {
                    await Mensaje.Error(await respuesta.ObtenerMensaje());
                }
                else
                {
                    await Registro.Generar(_responsableEmail, $"Agregó el trámite con expediente [{Tramite.Expediente}] a la lista de archivados");
                    await Mensaje.Completado("El trámite fue archivado con éxito");
                    Navigation.NavigateTo("tramites/archivados");
                }
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }

    private async Task ContinuarProceso()
    {
        try
        {
            var peticion = await Http.Post<int?>("api/tramites/devueltos/continuar", Tramite.TramiteId);

            if (peticion.Error)
            {
                await Mensaje.Error(await peticion.ObtenerMensaje());
            }
            else
            {
                await Mensaje.Completado("El proceso del trámite continuará en la etapa de donde fue devuelto");
                await Registro.Generar(_responsableEmail, $"Continuó con el proceso del trámite devuelto [{Tramite.TramiteId}]");
                Navigation.NavigateTo(Devolucion.Etapa switch
                {
                    "Para visitar" => "tramites/para-visitar",
                    "Para entregar" => "tramites/para-entregar",
                    "Finalizados" => "tramites/finalizados",
                    "Para firmar" => "tramites/para-firmar",
                    "Nuevos" => "tramites/en-recepcion",
                    "Visitados" => "tramites/visita-completada",
                    _ => "tramites/devueltos"
                });
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }

    private async Task ObtenerDevoluciones(int tramiteId)
    {
        try
        {
            var peticion = await Http.Get<List<DevolucionDTO>>($"api/tramites/devoluciones/{TramiteId}");

            if (peticion.Error)
            {
                await Mensaje.Error("No fue posible obtener la lista de devoluciones");
            }
            else
            {
                Devoluciones = peticion.Respuesta.OrderByDescending(d => d.Fecha).ToList();
                Devolucion = Devoluciones.FirstOrDefault();
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }

    private async Task NotificarCorrecciones()
    {
        try
        {
            var peticion = await Http.Post<TramiteDTO>("api/tramites/devueltos/corregir", Tramite);

            if (peticion.Error)
            {
                await Mensaje.Error(await peticion.ObtenerMensaje());
            }
            else
            {
                await Mensaje.Completado("La notificación de correcciones fue enviada con éxito");
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }
}