@page "/tramites/firmados/revisar/{TramiteId:int}"

@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject NavigationManager Navigation

<div class="p-4">
    <h1 class="mb-4">Revisi&oacute;n de tr&aacute;mite para firmar</h1>

    <BSButtonGroup Class="mb-4">
        <BSButton OnClick="Entregar" Color="BSColor.Primary" IsOutlined="true">Enviar a entregas</BSButton>
        <BSButton Target="DevolverModal" Color="BSColor.Primary" IsOutlined="true">Devolver</BSButton>
        <a href="/tramites/editar/@TramiteId" class="btn btn-outline-primary">Editar</a>
    </BSButtonGroup>

    <VerTramite Tramite="Tramite" @key="Tramite.TramiteId" />

    <BSModal IsCentered="true" DataId="DevolverModal">
        <DevolverTramite Devolucion="Devolucion" OnValidSubmit="Devolver" />
    </BSModal>
</div>

@code 
{
    [Parameter]
    public int? TramiteId { get; set; }

    private TramiteDTO Tramite { get; set; } = new();
    private DevolucionDTO Devolucion { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var peticion = await Http.Get<TramiteDTO>($"api/tramites/{TramiteId}");

        if (peticion.Error)
        {
            await Mensaje.Error("No fue posible obtener los datos del trámite");
        }
        else
        {
            Tramite = peticion.Respuesta;
        }
    }

    private async Task Devolver()
    {
        try
        {
            Devolucion.TramiteId = Tramite.TramiteId;

            var peticion = await Http.Post<DevolucionDTO>($"api/tramites/devolver", Devolucion);

            if (peticion.Error)
            {
                await Mensaje.Error("No fue posible devolver el trámite");
            }
            else
            {
                await Mensaje.Completado("El trámite fue devuelto con éxito");
                Navigation.NavigateTo("tramites/devueltos");
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }

    private async Task Entregar()
    {
        try
        {
            var peticion = await Http.Post<int?>($"api/tramites/entregar", TramiteId);

            if (peticion.Error)
            {
                await Mensaje.Error("No fue posible entregar el trámite");
            }
            else
            {
                await Mensaje.Completado("El trámite fue entregado con éxito");
                Navigation.NavigateTo("tramites/para-entregar");
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }
}
