@page "/tramites/finalizados/revisar/{TramiteId:int}"

@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject NavigationManager Navigation

<div class="p-4">
    <h1 class="mb-4">Revisi&oacute;n de tr&aacute;mite finalizado</h1>

    <BSButtonGroup Class="mb-4">
        <BSButton OnClick="VerDocumento" Color="BSColor.Primary" IsOutlined="true">Ver resoluci&oacute;n del tr&aacute;mite</BSButton>
        <BSButton OnClick="Archivar" Color="BSColor.Danger" IsOutlined="true">Archivar tr&aacute;mite</BSButton>
    </BSButtonGroup>

    <VerTramite Tramite="Tramite" @key="Tramite.TramiteId" />
</div>

@code
{
    [Parameter]
    public int? TramiteId { get; set; }

    private TramiteDTO Tramite { get; set; } = new();
    private DevolucionDTO Devolucion { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var peticion = await Http.Get<TramiteDTO>($"api/tramites/{TramiteId}");

        if (peticion.Error)
        {
            await Mensaje.Error("No fue posible obtener los datos del trámite");
        }
        else
        {
            Tramite = peticion.Respuesta;
        }
    }

    private async Task Archivar()
    {
        try
        {
            var archivar = new ArchivarDTO();

            archivar.TramiteId = TramiteId;
            archivar.ArchivadoDesde = "Finalizados";
            archivar.Estado = "Archivado";

            if (await Mensaje.Confirmar($"Archivar trámite"))
            {
                var respuesta = await Http.Post<ArchivarDTO>("api/tramites/archivar", archivar);

                if (respuesta.Error)
                {
                    await Mensaje.Error(await respuesta.ObtenerMensaje());
                }
                else
                {
                    await Mensaje.Completado("El trámite fue archivado con éxito");
                    Navigation.NavigateTo("tramites/archivados");
                }
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }

    private async Task VerDocumento()
    {
        // To do
    }
}