@page "/tramites/devueltos/revisar/{TramiteId:int}"
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject NavigationManager Navigation

<div class="p-4">

</div>

@code {
    [Parameter] public int? TramiteId { get; set; }
}
