@page "/tramites/nuevos/revisar/{TramiteId:int}"
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "Administrador")]

<div class="p-4">
    <div class="mb-4">
        <BSButton Target="AgendarModal" Color="BSColor.Primary">Agendar visita t&eacute;cnica</BSButton>
        <BSButton Target="DevolverModal" Color="BSColor.Secondary">Devolver</BSButton>
    </div>

    <FormularioTramite Tramite="Tramite" OnValidSubmit="Editar" />

    <BSModal IsCentered="true" DataId="AgendarModal">
        <AgendarCita Visita="Visita" OnValidSubmit="Agendar" />
    </BSModal>

    <BSModal IsCentered="true" DataId="DevolverModal">
        <DevolverTramite Devolucion="Devolucion" OnValidSubmit="Devolver" />
    </BSModal>

    <RequisitosCheckBoxes Requisitos="Requisitos"/>
</div>

@code {
    [Parameter] public int? TramiteId { get; set; }
    public TramiteDTO Tramite { get; set; } = new();
    public DevolucionDTO Devolucion { get; set; } = new();

    private VisitaDTO Visita { get; set; } = new();
    public List<TramiteRequisitoDTO> Requisitos { get; set; } = new();

    private async Task Editar()
    {
        Tramite.TramitesRequisitos = Requisitos;

        var peticion = await Http.Put<TramiteDTO>($"api/tramites/{Tramite.TramiteId}", Tramite);

        if (peticion.Error)
        {
            await Mensaje.Error(await peticion.ObtenerMensaje());
        }
        else
        {
            await Mensaje.Completado("Trámite modificado con éxito");
            Navigation.NavigateTo("tramites/nuevos");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var peticion = await Http.Get<TramiteDTO>($"api/tramites/{TramiteId}");

        if (peticion.Error)
        {
            await Mensaje.Error(await peticion.ObtenerMensaje());
        }
        else
        {
            Tramite = peticion.Respuesta;
            Requisitos = Tramite.TramitesRequisitos.Select(x => new TramiteRequisitoDTO()
                {
                    Nombre = x.Nombre,
                    RequistoId = x.RequistoId,
                    Entregado = x.Entregado,
                    Categoria = x.Categoria

                }).OrderBy(r => r.Categoria).ToList();
        }
    }

    private async Task Agendar()
    {
        Visita.TramiteId = Tramite.TramiteId;
        Visita.Estado = "Sin realizar";

        var peticion = await Http.Post<VisitaDTO>($"api/tramites/agendar", Visita);

        if (peticion.Error)
        {
            await Mensaje.Error(await peticion.ObtenerMensaje());
        }
        else
        {
            await Mensaje.Completado("Visita técnica agendada con éxito");
            Navigation.NavigateTo("tramites/agendados");
        }
    }

    private async Task Devolver()
    {
        Devolucion.TramiteId = Tramite.TramiteId;

        var peticion = await Http.Post<DevolucionDTO>($"api/tramites/devolver", Devolucion);

        if (peticion.Error)
        {
            await Mensaje.Error(await peticion.ObtenerMensaje());
        }
        else
        {
            await Mensaje.Completado("El trámite fue devuelto con éxito");
            Navigation.NavigateTo("tramites/devueltos");
        }
    }
}
