@page "/tramites/nuevos"
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje

<div class="p-4">
    <h1 class="mb-3">Lista de tr&aacute;mites nuevos</h1>
    <div class="mb-3">
        <a href="/tramites/crear" class="btn btn-primary">Iniciar tr&aacute;mite</a>
    </div>
    <ListadoTramites Filtro="@Filtro" />
</div>

@code {
    private string Filtro = "Nuevo";
}

