@page "/tramites"
@page "/tramites/en-recepcion"
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje

@attribute [Authorize]

<div class="p-4">
    <h1 class="mb-3">Lista de tr&aacute;mites en recepci&oacute;n</h1>
    <div class="mb-3">
        <a href="/tramites/crear" class="btn btn-outline-primary">Recepcionar tr&aacute;mite</a>
    </div>
    <ListadoTramites Filtro="@Filtro" />
</div>

@code {
    private string Filtro = "Nuevo";
}

