@page "/tramites/para-firmar"

@attribute [Authorize(Roles = "Administrador, Técnico")]

<div class="p-4">
    <h1 class="mb-3">Lista de tr&aacute;mites para firmar</h1>
    <ListadoTramites Filtro="Firmar" />
</div>
