@page "/tramites/archivados"

@attribute [Authorize]

<div class="p-4">
    <h1 class="mb-3">Lista de tr&aacute;mites archivados</h1>
    <ListadoTramites Filtro="@Filtro" />
</div>

@code {
    private string Filtro = "Archivado";
}
