@page "/tramites/agendados"

<div class="p-4">
    <h1 class="mb-3">Lista de tr&aacute;mites para inspecci&oacute;n</h1>
    <ListadoTramites Filtro="@Filtro" />
</div>

@code {
    private string Filtro = "Agendado";
}
