@page "/tramites/nuevos"
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje

<div class="p-4">
    <div class="mb-2">
        <a href="/tramites/crear" class="btn btn-primary">Agregar tr&aacute;mite</a>
    </div>
    <ListadoTramites Filtro="@Filtro" />
</div>

@code {
    private string Filtro = "Nuevo";
}

