@page "/tramites/visita-completada"

@attribute [Authorize]

<div class="p-4">
    <h1 class="mb-3">Lista de tr&aacute;mites con visita completada</h1>
    <ListadoTramites Filtro="Visitado" />
</div>
