@inherits LayoutComponentBase
@inject TokenRenovator Renovator

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>            
        </Authorized>
    </AuthorizeView>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override void OnInitialized()
    {
        Renovator.Iniciar();
    }
}