<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images/oplagest_logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            OPLAGEST-Trifinio
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <SesionUsuario Nombre="@context.User.Identity.Name" />
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Tablero
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tramites" @onclick="(() => ExpandSubMenu())">
                        <span class="oi oi-document" aria-hidden="true"></span> Tr&aacute;mites
                    </NavLink> 
                    @if (expandSubMenu)
                    {
                        <div class="nav-item px-2 py-1">
                            <NavLink class="nav-link" href="tramites/nuevos">
                                <span class="oi oi-document" aria-hidden="true"></span> Nuevos
                            </NavLink>
                        </div>
                        <div class="nav-item px-2 py-1">
                            <NavLink class="nav-link" href="tramites/devueltos">
                                <span class="oi oi-document" aria-hidden="true"></span> Devueltos
                            </NavLink>
                        </div>
                        @if (context.User.IsInRole("Administrador"))
                        {
                            <div class="nav-item px-2 py-1">
                                <NavLink class="nav-link" href="tramites/agendados">
                                    <span class="oi oi-document" aria-hidden="true"></span> Agendados
                                </NavLink>
                            </div>
                            <div class="nav-item px-2 py-1">
                                <NavLink class="nav-link" href="tramites/archivados">
                                    <span class="oi oi-document" aria-hidden="true"></span> Archivados
                                </NavLink>
                            </div>
                        }
                    }
                </div>                
                @if (context.User.IsInRole("Administrador"))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="usuarios">
                            <span class="oi oi-person" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </div>
                }
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ExpandSubMenu()
    {
        expandSubMenu = !expandSubMenu;
    }
}
