@page "/salir"
@inject IGeneraRegistroActividad Registro
@inject ISesionService Sesion
@inject NavigationManager Navigation
@inject IMostrarMensaje Mensaje
@attribute [Authorize]

@if (cerrandoSesion)
{
    <div class="d-flex align-items-center p-4">
        <img src="images/progress.gif" width="35" />
        <p class="m-0">Cerrando sesi&oacute;n, por favor espere...</p>
    </div>
}

@code
{
    private bool cerrandoSesion = false;

    protected override async Task OnInitializedAsync()
    {
        await Sesion.Cerrar();

        Navigation.NavigateTo("ingresar");
    }
}