@page "/salir"
@inject IGeneraRegistroActividad Registro
@inject ISesionService Sesion
@inject NavigationManager Navigation
@inject IMostrarMensaje Mensaje

@if (cerrandoSesion)
{
    <div class="d-flex align-items-center p-4">
        <img src="images/progress.gif" width="50" />
        <p class="m-0">Cerrando sesi&oacute;n, por favor espere...</p>
    </div>
}

@code 
{
    [CascadingParameter] 
    public Task<AuthenticationState> AuthenticationState { get; set; }

    private bool cerrandoSesion = false;

    protected override async Task OnInitializedAsync()
    {
        cerrandoSesion = true;

        try
        {
            var autenticacion = await AuthenticationState;

            await Registro.Generar(autenticacion.User.FindFirst(ClaimTypes.Email).Value, "Cierre de sesión en la aplicación.");
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
        finally
        {
            await Sesion.Cerrar();

            Navigation.NavigateTo("ingresar");
        }       
    }
}