@page "/ingresar"

@inject NavigationManager Navigation
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject ISesionService Sesion
@inject IGeneraRegistroActividad Registro

<div class="">
    <div class="row m-0 mh fondo">
        <div class="col-sm-12 col-xl-3 col-xxl-3 formulario p-5 mt-5">
            <div class="mb-5">
                <FormularioInicioSesion Usuario="Usuario" OnValidSubmit="Ingresar" />
            </div>
            <div>
                <hr />
            </div>
            <div class="mt-5">
                <p class="font-monospace text-uppercase text-center text-muted">Plataforma desarrollada con el apoyo de:</p>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <img class="opacity-50" src="images/logo-codep.png" />
            </div>
            <div class="d-flex justify-content-center">
                <img class="opacity-50" src="images/logo-wamba.png" />
            </div>
            <div class="mt-4">
                <p class="font-monospace text-uppercase text-center text-muted">Versi&oacute;n 1.0.0</p>
            </div>
        </div>
        <div class="col-xl-9 col-xxl-9 d-none d-sm-block d-md-block d-lg-block informacion">
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public UsuarioIngresarDTO Usuario { get; set; } = new UsuarioIngresarDTO();


    public async Task Ingresar()
    {
        try
        {
            var peticion = await Http.Post<UsuarioIngresarDTO, UsuarioTokenDTO>("api/cuentas/ingresar", Usuario);

            if (peticion.Error)
            {
                await Mensaje.Error(await peticion.ObtenerMensaje());
            }
            else
            {
                await Registro.Generar(Usuario.CorreoElectronico, "Inicio de sesión en la aplicación.");
                await Sesion.Ingresar(peticion.Respuesta);

                Navigation.NavigateTo("");
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }
}