@page "/ingresar"
@inject NavigationManager Navigation
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject ISesionService Sesion
@inject IGeneraRegistroActividad Registro

<PageTitle>Iniciar sesi&oacute;n :: OPLAGEST-Trifinio</PageTitle>

<div class="login">
    <FormularioInicioSesion Usuario="Usuario" OnValidSubmit="Ingresar" />
</div>

@code {
    [Parameter] public UsuarioIngresarDTO Usuario { get; set; } = new UsuarioIngresarDTO();    


    public async Task Ingresar()
    {
        var respuesta = await Http.Post<UsuarioIngresarDTO, UsuarioTokenDTO>("api/cuentas/ingresar", Usuario);

        if (respuesta.Error)
        {
            await Mensaje.Error(await respuesta.ObtenerMensaje());
        }
        else
        {
            await Registro.Generar(Usuario.CorreoElectronico, "Inicio de sesión en la aplicación.");
            await Sesion.Ingresar(respuesta.Respuesta.Token);

            Navigation.NavigateTo("");
        }
    }
}