@page "/ingresar"

@inject NavigationManager Navigation
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject ISesionService Sesion
@inject IGeneraRegistroActividad Registro

<div class="">
    <div class="row m-0 mh fondo">
        <div class="col-sm-12 col-xl-3 col-xxl-3 formulario p-5 mt-5">
            <div class="mb-5">
                <FormularioInicioSesion Usuario="Usuario" OnValidSubmit="Ingresar" />
            </div>
            <div>
                <hr />
            </div>
            <div class="mt-5">
                <p class="font-monospace text-uppercase text-center text-muted">Plataforma desarrollada con el apoyo de:</p>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <img class="opacity-50" src="images/logo-codep.png" />
            </div>
            <div class="d-flex justify-content-center">
                <img class="opacity-50" src="images/logo-wamba.png" />
            </div>
            <div class="mt-4">
                <p class="font-monospace text-uppercase text-center text-muted">Versi&oacute;n 1.0.0</p>
            </div>
        </div>
        <div class="col-xl-9 col-xxl-9 d-none d-sm-block d-md-block d-lg-block informacion">
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public UsuarioIngresarDTO Usuario { get; set; } = new UsuarioIngresarDTO();

    private UsuarioTokenDTO? tokenDTO = new();

    public async Task Ingresar()
    {
        tokenDTO.Token = "eyJ0eXAiOiJqd3QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6Imludml0YWRvQGpvbmF0aGFudmFuZWdhcy5jb20iLCJuYW1lIjoiSW52aXRhZG8iLCJlbWFpbGFkZHJlc3MiOiJpbnZpdGFkb0Bqb25hdGhhbnZhbmVnYXMuY29tIiwianRpIjoiQTM1QUI5QjgtMEQ5NC00MzdCLTgyQTEtMkRGMkY5QzEzQkI5Iiwicm9sZSI6Ikludml0YWRvIn0.DWgH6ap_Ry-Pd-tP1JpnfQZ9bHzR6Bnt0HM8bFGW6V8";
        tokenDTO.Expiration = DateTime.UtcNow.AddHours(1);

        await Sesion.Ingresar(tokenDTO);

        Navigation.NavigateTo("");
    }
}