@page "/ingresar"
@inject NavigationManager Navigation
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje
@inject ISesionService Sesion
@inject IGeneraRegistroActividad Registro

<PageTitle>Iniciar sesi&oacute;n :: OPLAGEST-Trifinio</PageTitle>

<div class="login">
    <FormularioInicioSesion Usuario="Usuario" OnValidSubmit="Ingresar" />
</div>

@code
{
    [Parameter]
    public UsuarioIngresarDTO Usuario { get; set; } = new UsuarioIngresarDTO();


    public async Task Ingresar()
    {
        try
        {
            var peticion = await Http.Post<UsuarioIngresarDTO, UsuarioTokenDTO>("api/cuentas/ingresar", Usuario);

            if (peticion.Error)
            {
                await Mensaje.Error(await peticion.ObtenerMensaje());
            }
            else
            {
                await Registro.Generar(Usuario.CorreoElectronico, "Inicio de sesión en la aplicación.");
                await Sesion.Ingresar(peticion.Respuesta);

                Navigation.NavigateTo("");
            }
        }
        catch (Exception)
        {
            await Mensaje.Error("Ocurrio un error inesperado");
        }
    }
}