
<body>
 
    <EditForm Model="Usuario" OnValidSubmit="OnDataAnnotationsValidated" class="col-3">
        <DataAnnotationsValidator />
        <img src="/images/login_images/amt_icon.png" />
        <div id="login_container">
            <div align="center">
                <img src="/images/login_images/oplagest_logo.png" width="40%" />
            </div>
            <div class="container">
                <label id="login">Iniciar Sesión</label>
            </div>
            <div>
                <label for="correo">Correo electr&oacute;nico</label>
                <InputText @bind-Value="@Usuario.CorreoElectronico" id="correo" type="email" placeholder="Ingrese su correo electr&oacute;nico" class="form-control"></InputText>
                <ValidationMessage For="@(() => Usuario.CorreoElectronico)" />
            </div>
            <div>
                <label for="clave">Contrase&ntilde;a</label>
                <InputText @bind-Value="@Usuario.Clave" id="clave" type="password" placeholder="Ingrese su contrase&ntilde;a" class="form-control"></InputText>
                <ValidationMessage For="@(() => Usuario.Clave)" />
            </div>
            <div class="container">
                <button type="submit">Ingresar</button>
            </div>
        </div>
    </EditForm>
</body>



@code {
    [Parameter] public UsuarioIngresarDTO? Usuario { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private async Task OnDataAnnotationsValidated()
    {
        await OnValidSubmit.InvokeAsync();
    }
}