<EditForm Model="Usuario" OnValidSubmit="OnDataAnnotationsValidated">
    <DataAnnotationsValidator />
    <div class="mb-4 login-logo">
        <img src="images/logo-amt-oplagest.png" />
    </div>
    <div class="form-floating mb-3">
        <BSInput InputType="InputType.Email" id="correo" @bind-Value="@Usuario.CorreoElectronico" />
        <BSLabel for="correo">Ingrese su correo electr&oacute;nico</BSLabel>
    </div>
    <div class="form-floating mb-3">
        <BSInput InputType="InputType.Password" id="clave" @bind-Value="@Usuario.Clave" />
        <BSLabel for="clave">Ingrese su contrase&ntilde;a</BSLabel>
    </div>
    <div class="d-flex justify-content-center">
        <BSButton Color="BSColor.Success" IsSubmit="true" IsDisabled="@cargando" IsOutlined="true">Ingresar</BSButton>
        @if (cargando)
        {
            <img src="images/progress.gif" width="35" class="ms-3" />
        }
    </div>
</EditForm>

@code
{
    [Parameter]
    public UsuarioIngresarDTO? Usuario { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    private bool cargando = false;

    private async Task OnDataAnnotationsValidated()
    {
        cargando = true;
        await OnValidSubmit.InvokeAsync();
        cargando = false;
    }
}