<EditForm Model="Usuario" OnValidSubmit="OnDataAnnotationsValidated" class="col-3">
    <DataAnnotationsValidator />
    <div class="form-group row mb-3 login-form">
        <label for="correo" class="col-sm-auto col-form-label">Correo electr&oacute;nico</label>
        <div class="col-sm-auto">
            <InputText @bind-Value="@Usuario.CorreoElectronico" id="correo" type="email" placeholder="Ingrese su correo electr&oacute;nico" class="form-control"></InputText>
            <ValidationMessage For="@(() => Usuario.CorreoElectronico)" />
        </div>
    </div>
    <div class="form-group row mb-3 login-form">
        <label for="clave" class="col-sm-auto col-form-label">Contrase&ntilde;a</label>
        <div class="col-sm-auto">
            <InputText @bind-Value="@Usuario.Clave" id="clave" type="password" placeholder="Ingrese su contrase&ntilde;a" class="form-control"></InputText>
            <ValidationMessage For="@(() => Usuario.Clave)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">Ingresar</button>
</EditForm>

@code {
    [Parameter] public UsuarioIngresarDTO? Usuario { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private async Task OnDataAnnotationsValidated()
    {
        await OnValidSubmit.InvokeAsync();
    }
}