@inject ISesionService Sesion
@inject IMostrarMensaje Mensaje
@inject NavigationManager Navigation
@inject IGeneraRegistroActividad Registro

<div class="login-options my-3">
    <p class="m-0">Hola, Bienvenido(a)</p>
    <p class="mb-3"><b>@Nombre</b></p>
    <BSButton Color="BSColor.Danger"  OnClick="CerrarSesion">Cerrar sesi&oacute;n</BSButton>
</div>

@code
{
    [Parameter] public string? Nombre { get; set; }
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }

    private async Task CerrarSesion()
    {
        if (await Mensaje.Confirmar("Cerrar sesión"))
        {
            var autenticacion = await AuthenticationState;

            await Registro.Generar(autenticacion.User.FindFirst(ClaimTypes.Email).Value, "Cierre de sesión en la aplicación.");
            await Sesion.Cerrar();

            Navigation.NavigateTo("ingresar");
        }
    }
}
