@page "/usuarios/crear"
@inject NavigationManager Navigation
@inject IPeticionesHttp Http
@inject IMostrarMensaje Mensaje

<div class="p-4">
    <h1>Crear usuario</h1>
    <h2>Datos</h2>
    <FormularioUsuarios OnValidSubmit="Crear" Usuario="Usuario"/>
</div>

@code {
    public UsuarioFormularioDTO Usuario { get; set; } = new();

    public async Task Crear()
    {
        var respuesta = await Http.Post<UsuarioFormularioDTO>("api/cuentas", Usuario);

        if (respuesta.Error)
        {
            await Mensaje.Error(await respuesta.ObtenerMensaje());
        }
        else
        {
            await Mensaje.Completado($"El usuario {Usuario.Nombre.ToUpper()} fue creado con éxito");
            Navigation.NavigateTo("/usuarios");
        }
    }
}
