@if (Requisitos == null)
{
    <div class="d-flex align-items-center">
        <img src="images/progress.gif" width="50" />
        <p class="m-0">Cargando lista de requisitos...</p>
    </div>
}
else if (Requisitos.Count == 0)
{
    <div class="d-flex align-items-center">
        <img src="images/progress.gif" width="50" />
        <p class="m-0">No hay requisitos por mostrar</p>
    </div>
}
else
{
    <label for="requisitos" class="form-label">Requisitos</label>
    <div class="form-group" id="requisitos">
        @foreach (var item in Requisitos!)
        {
            <div class="form-check form-switch">
                <InputCheckbox @bind-Value="@item.Entregado" id="@item.RequistoId" class="form-check-input"></InputCheckbox>
                <label for="@item.RequistoId" class="form-check-label">@item.Nombre</label>
            </div>
        }
    </div>
}

@code 
{
    [Parameter] 
    public List<TramiteRequisitoDTO>? Requisitos { get; set; }
}